# Node modules (se instalan dentro del contenedor)
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Entornos y secretos
.env

# Sistema
.DS_Store
Thumbs.db

# Carpetas temporales
tmp
temp
*.swp
*.swo

# Archivos de compilación
dist
build
coverage
